/* Intro Section */
.intro-section {
  margin-top: 50px;
}

.title-section,
.title-line {
  display: flex;
}

.title-section {
  margin-left: -10px;
}

.title-section h1 {
  font-size: 7vw;
  margin-bottom: 0;
  text-transform: uppercase;
}

.category {
  color: #61d0d0;
  font-size: 1.75vw;
  letter-spacing: 2px;
  margin-top: -10px;
}

.description {
  font-size: 1.75vw;
  padding-top: 15px;
}

.detail-row {
  padding-top: 20px;
}

.detail-col1 {
  padding-right: 15px;
}

.detail-col2 {
  padding-left: 15px;
}

.detail-title {
  font-size: 1.75vw;
}

.detail-description {
  font-size: 1.25vw;
  margin-bottom: 0;
}

/* Project Details */
.large-video-div {
  margin-bottom: 100px;
}

.large-video {
  width: 100%;
  border-radius: 10px;
}

.title-div {
  margin-bottom: 50px;
}

.content-title {
  font-size: 4vw;
  margin-bottom: 1rem;
}

.content-description {
  font-size: 1.25vw;
}

.pain-point-div-1,
.pain-point-div-2,
.pain-point-div-3 {
  margin-left: 25px;
  margin-right: 25px;
}

.phase-div-1,
.phase-div-2,
.phase-div-3 {
  width: 65vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.phase-div-1,
.phase-div-2 {
  margin-bottom: 50px;
}

.phase-img {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.persona-div-1 {
  display: flex;
  margin-right: 15px;
}

.persona-div-2 {
  display: flex;
  margin-left: 15px;
}

.persona-1-img,
.persona-2-img {
  width: 7vw;
  margin-top: 22.5px;
  margin-right: 20px;
}

.persona-copy-div {
  width: 100%;
}

.user-flow-row-2 {
  margin: 0 10vw 50px;
}

.flow-cards-div {
  margin-bottom: 50px;
}

.flow-description {
  font-size: 1.25rem;
}

.flow-number {
  font-weight: 500;
}

.mobile-first-img-div-1,
.mobile-first-img-div-2,
.mobile-first-img-div-3 {
  margin-top: 50px;
}

.video-mobile-div {
  margin-top: 100px !important;
}

.mobile-first-media-div,
.video-mobile-div {
  width: 85%;
  margin: 0 auto;
  display: block;
}

.ebl-mobile-img,
.video-ebl-scroll,
.video-mobile {
  width: 100%;
  border-radius: 10px;
}

.screenshot-img {
  width: 80%;
  margin: 0 auto 50px;
  display: block !important;
}

.link-div {
  margin-top: 100px;
}

.link-div:hover {
  animation-name: right;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.link-div a {
  color: #61d0d0;
  font-size: 3vw;
  font-weight: 200;
  font-family: 'Josefin Sans', sans-serif;
}

.arrow-right {
  fill: #61d0d0;
  width: 4vw;
  height: 4vh;
  margin-left: 5px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .user-flow-row-2 {
    margin: 0 0 50px;
  }
}

@media (max-width: 991px) {
  .category {
    font-size: 2vw;
    margin-top: 0;
  }
  .description {
    font-size: 2.5vw;
  }
  .detail-title {
    font-size: 1.25rem;
  }
  .detail-description {
    font-size: 1rem;
  }
  .content-title {
    font-size: 2.25rem;
  }
  .content-description {
    font-size: 1rem;
  }
  .content-list {
    margin-bottom: 0;
  }
  .pain-point-div-1,
  .pain-point-div-2,
  .pain-point-div-3 {
    margin: 0 0 50px;
  }
  .phase-div-1,
  .phase-div-2,
  .phase-div-3 {
    width: 100%;
  }
  .persona-div-1,
  .persona-div-2 {
    display: flex;
    margin: 0 0 50px;
  }

  .persona-1-img,
  .persona-2-img {
    width: 10vw;
    margin-top: 10px;
    margin-right: 20px;
  }
  .flow-description {
    font-size: 1rem;
    margin-top: 12.5px;
  }
  .user-flow-row-2 {
    margin: 0 15vw 50px;
  }
  .screenshot-img {
    width: 80%;
  }
  .link-div {
    margin-top: 50px;
  }
  .link-div a {
    font-size: 1.5rem;
  }
  .arrow-right {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 575px) {
  .title-section {
    display: block;
  }
  .title-section h1 {
    font-size: 5rem;
  }
  .title-line-mobile {
    display: none;
  }
  .category {
    font-size: 1.25rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .detail-col1,
  .detail-col2 {
    padding: 0;
  }
  .detail-col1,
  .detail-col2 {
    margin-bottom: 50px;
  }
  .content-title {
    font-size: 2.5rem;
  }
  .persona-div-1,
  .persona-div-2 {
    display: block;
  }
  .persona-1-img,
  .persona-2-img {
    width: 25vw;
    margin: 0 auto 30px;
    display: block !important;
  }
  .user-flow-row-2 {
    margin: 0 0 50px;
  }
  .mobile-img-transform,
  .video-mobile-transform,
  .mobile-first-transform {
    transform: none !important;
  }
  .screenshot-img {
    width: 100%;
  }
  .link-div a {
    font-size: 1.75rem;
  }
  .arrow-right {
    width: 35px;
    height: 35px;
  }
}
