/* Hero Section */

.hero-section {
  position: relative;
  margin-top: 10vh;
}

.hero-section .title-line,
.hero-section .subtitle-line {
  display: flex;
  position: relative;
  z-index: 10;
}

.hero-section .title-line h1 {
  font-size: 11.5vw;
  line-height: 80%;
}

.subtitle-section {
  line-height: 8vh;
  position: relative;
  z-index: 10;
}

.subtitle-line span {
  font-size: 4vw;
  font-weight: 200;
}

.hero-img {
  position: absolute;
  top: 0px;
  right: 0;
  width: 90%;
  z-index: -10;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 1);
  border-radius: 20px;
}

.description-section {
  padding-top: 20%;
}

.description {
  font-size: 2.5vw;
  display: block;
  margin: auto;
  position: relative;
  z-index: 10;
}

.link-div {
  margin-top: 30px;
}

.link-div:hover {
  animation-name: right;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.link-div a {
  font-size: 3.4vw;
  font-weight: 200;
  font-family: 'Josefin Sans', sans-serif;
}

.arrow-right {
  fill: #8ec8f3;
  width: 4vw;
  height: 4vh;
  margin-left: 5px;
}

@media (max-width: 1199px) {
  /* Hero Section */
  .hero-section .title-line h1 {
    font-size: 11.5vw;
    line-height: 80%;
  }
  .subtitle-line span {
    font-size: 4.7vw;
  }
}

@media (max-width: 991px) {
  /* Hero Section */
  .hero-section {
    margin-top: 50px;
  }
  .hero-section .title-line h1 {
    font-size: 12vw;
    line-height: 80%;
  }
  .subtitle-section {
    line-height: 5vh;
  }
  .hero-img {
    width: 100%;
  }
  .description-section {
    padding-top: 150px;
  }
  .description {
    font-size: 3.2vw;
  }
  .link-div a {
    font-size: 4.2vw;
  }
  .arrow-right {
    width: 5vw;
    height: 3vh;
  }
}

@media (max-width: 575px) {
  /* Hero Section */
  .hero-section {
    margin-top: 50px;
  }
  .hero-section .title-line h1 {
    font-size: 5rem;
    line-height: 80%;
  }
  .hero-img {
    position: relative;
    top: auto;
    right: auto;
    width: 70%;
    float: right;
    margin-top: 75px;
  }
  .subtitle-line span {
    font-size: 2rem;
  }
  .description-section {
    padding-top: 25px;
  }
  .description {
    font-size: 1.4rem;
  }
  .link-div a {
    font-size: 2rem;
  }
  .arrow-right {
    width: 10vw;
    height: 4vh;
  }
}

/* Project Section */
.project-row-1 {
  margin-bottom: 50px;
}

.project-row {
  margin-bottom: 150px;
}

.project-section .title-div,
.project-section .title-line {
  display: flex;
}

.project-section .title-line h1 {
  font-size: 5.5vw;
  text-transform: uppercase;
  line-height: 100%;
}

.image {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 1);
  transition: box-shadow 0.5s;
  will-change: transform;
  border-radius: 20px;
  width: 60vw !important;
  margin: 0 auto;
}

.image::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.2) 40%,
    rgba(51, 51, 51, 0.7) 90%
  );
  border-radius: 20px;
}

.project1:hover {
  box-shadow: 0px 10px 30px -5px rgba(180, 229, 247, 0.3);
}

.project2:hover {
  box-shadow: 0px 15px 30px -5px rgba(0, 133, 255, 0.3);
}

.project3:hover {
  box-shadow: 0px 15px 30px -5px rgba(253, 112, 98, 0.3);
}

.project4:hover {
  box-shadow: 0px 15px 30px -5px rgba(203, 99, 255, 0.3);
}

.project5:hover {
  box-shadow: 0px 15px 30px -5px rgba(146, 255, 190, 0.3);
}

.project-title-div {
  position: absolute;
  bottom: 100px;
}

.project-order {
  font-size: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

.project-title {
  font-size: 125px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  line-height: 100%;
  display: inline-block;
  margin-left: 25px;
}

.category {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  /* Project Section */
  .project-order {
    font-size: 2rem;
  }
  .project-title {
    font-size: 100px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  /* Project Section */
  .project-row {
    margin-bottom: 125px;
  }
  .image {
    width: 65vw !important;
  }
  .project-title-div {
    bottom: 75px;
  }
  .project-order {
    font-size: 1.5rem;
  }
  .project-title {
    font-size: 55px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .project-row {
    margin-bottom: 100px;
  }
  .project-section .title-div {
    display: block;
  }
  .project-section .title-line h1 {
    font-size: 3.5rem;
  }
  .image {
    width: 100% !important;
  }
  .project-title-div {
    position: relative;
    bottom: 0;
    margin-top: -5px;
  }
  .project-order {
    display: none;
  }
  .project-title {
    font-size: 3rem;
    margin-left: 0;
  }
  .category {
    text-align: left;
    font-size: 0.75rem;
    letter-spacing: 3px;
    margin-top: 10px;
  }
}
