/* Hero Section */

.hero-section {
  position: relative;
  margin: 15vh 10% 0;
}

.hero-section .title-line,
.hero-section .subtitle-line,
.hero-section .subtitle-section {
  display: flex;
  position: relative;
  z-index: 10;
}

.hero-section .title-line h1 {
  font-size: 11.5vw;
  line-height: 80%;
}

.subtitle-line span {
  color: #61d0d0;
  font-size: 4.8vw;
  font-weight: 200;
}

.hero-img {
  position: absolute;
  top: -50px;
  right: 0;
  width: 90%;
  z-index: -10;
}

.description-section {
  padding-top: 20%;
}

.description {
  font-size: 2.5vw;
  display: block;
  margin: auto;
  position: relative;
  z-index: 10;
}

.link-div {
  margin-top: 30px;
}

.link-div:hover {
  animation-name: right;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.link-div a {
  color: #61d0d0;
  font-size: 3.4vw;
  font-weight: 200;
  font-family: 'Josefin Sans', sans-serif;
}

.arrow-right {
  fill: #61d0d0;
  width: 4vw;
  height: 4vh;
  margin-left: 5px;
}

@media (max-width: 1199px) {
  /* Hero Section */
  .hero-section .title-line h1 {
    font-size: 11.5vw;
    line-height: 80%;
  }
  .subtitle-line span {
    font-size: 4.7vw;
  }
}

@media (max-width: 991px) {
  /* Hero Section */
  .hero-section {
    margin: 100px 40px 0;
  }
  .hero-section .title-line h1 {
    font-size: 12vw;
    line-height: 80%;
  }
  .hero-img {
    top: -50px;
    width: 100%;
  }
  .description-section {
    padding-top: 150px;
  }
  .description {
    font-size: 3.2vw;
  }
  .link-div a {
    font-size: 4.2vw;
  }
  .arrow-right {
    width: 5vw;
    height: 3vh;
  }
}

@media (max-width: 575px) {
  /* Hero Section */
  .hero-section {
    margin: 50px 25px 0;
  }
  .hero-section .title-line h1 {
    font-size: 20.7vw;
    line-height: 80%;
  }
  .hero-img {
    position: relative;
    top: auto;
    right: auto;
    width: 70%;
    float: right;
    margin-top: 75px;
  }
  .subtitle-line span {
    font-size: 8.6vw;
  }
  .description-section {
    padding-top: 25px;
  }
  .description {
    font-size: 6vw;
  }
  .link-div a {
    font-size: 7.7vw;
  }
  .arrow-right {
    width: 10vw;
    height: 4vh;
  }
}

/* Project Section */

.project-section {
  margin: 150px 10%;
}

.project-row-1 {
  margin-bottom: 50px;
}

.project-section .title-div,
.project-section .title-line {
  display: flex;
}

.project-section .title-line h1 {
  font-size: 5.5vw;
  text-transform: uppercase;
  line-height: 100%;
}

.project-div {
  margin-bottom: 150px;
}

.image {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border-radius: 20px;
  width: 60vw !important;
  margin: 0 auto;
}

.image::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.1) 40%,
    rgba(51, 51, 51, 0.7) 90%
  );
  border-radius: 20px;
}

.project1:hover {
  box-shadow: 0px 30px 50px -10px rgba(0, 133, 255, 0.3);
}

.project-title-div {
  position: absolute;
  bottom: 100px;
}

.project-order {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.project-title {
  font-size: 125px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  line-height: 100%;
  display: inline-block;
  margin-left: 30px;
}

.category {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  /* Project Section */
  .project-order {
    font-size: 2rem;
  }
  .project-title {
    font-size: 100px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  /* Project Section */
  .project-section {
    margin: 150px 40px;
  }
  .image {
    width: 65vw !important;
  }
  .project-title-div {
    bottom: 75px;
  }
  .project-order {
    font-size: 1.5rem;
  }
  .project-title {
    font-size: 55px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  /* Project Section */
  .project-section {
    margin: 100px 25px;
  }
  .project-section .title-div {
    display: block;
  }
  .project-section .title-line h1 {
    font-size: 10vw;
  }
  .image {
    width: 100% !important;
  }
  .project-title-div {
    position: relative;
    bottom: 0;
    margin-top: -5px;
  }
  .project-order {
    display: none;
  }
  .project-title {
    font-size: 45px;
    margin-left: 0;
  }
  .category {
    text-align: left;
    font-size: 0.75rem;
    letter-spacing: 3px;
    margin-top: 30px;
  }
}
