.intro-section {
  position: relative;
  margin-top: 10vh;
}

.space::after {
  content: ' ';
  white-space: pre;
}

.title-line {
  display: flex;
}

.title-line h1 {
  color: #8ec8f3;
  font-size: 8vw;
}

.intro-description {
  font-size: 1.75vw;
}

.about-img {
  width: 90%;
  float: right;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 1);
  border-radius: 20px;
}

.approach-title-div,
.testimonial-title-div {
  margin-bottom: 75px;
}

.experiences-title-div {
  margin-bottom: 25px;
}

.approach-title-div .title-line h1,
.testimonial-title-div .title-line h1,
.experiences-title-div .title-line h1 {
  font-size: 4.5vw;
}

.approach-col-1,
.testimonial-col-1 {
  padding-right: 25px;
}

.approach-col-2,
.testimonial-col-2 {
  padding-left: 25px;
  padding-right: 25px;
}

.approach-col-3,
.testimonial-col-3 {
  padding-left: 25px;
}

.approach-subtitle {
  color: #8ec8f3;
  font-size: 2vw;
}

.testimonial-subtitle {
  color: #8ec8f3;
  font-size: 1.5vw;
}

.approach-description,
.testimonial-description {
  font-size: 1.25vw;
}

.experiences-item {
  background-color: transparent;
  border: none;
  border-radius: 20px !important;
  margin-bottom: 35px;
  padding: 15px 15px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 1);
}

.experiences-item-title button {
  font-family: 'Poppins', sans-serif;
  color: #ffffff !important;
  background-color: #333333 !important;
  font-size: 1.5vw;
  font-weight: 200;
}

.experiences-item-title button:focus {
  border-color: #333333 !important;
  box-shadow: none !important;
}

.experiences-item-title button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238ec8f3'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.experiences-item-description {
  font-size: 1.25vw;
  color: #ffffff;
  background-color: #333333;
}

.experiences-item-description p:last-child {
  margin-bottom: 0;
}

.experiences-item-description ul li::marker {
  color: #8ec8f3 !important;
}

@media (max-width: 991px) {
  .intro-section {
    margin-top: 50px;
  }
  .title-line h1 {
    font-size: 11vw;
    position: relative;
    z-index: 10;
  }
  .intro-description {
    font-size: 1rem;
  }
  .about-img {
    width: 90%;
    margin-top: 40px;
    position: relative;
    z-index: -10;
  }
  .approach-section,
  .testimonial-section,
  .experiences-section {
    margin: 0 50px;
  }
  .approach-title-div .title-line h1,
  .testimonial-title-div .title-line h1,
  .experiences-title-div .title-line h1 {
    font-size: 8vw;
  }
  .approach-col-1,
  .testimonial-col-1 {
    padding-right: 0;
  }
  .approach-col-2,
  .testimonial-col-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .approach-col-3,
  .testimonial-col-3 {
    padding-left: 0;
  }
  .approach-subtitle {
    font-size: 1.25rem;
  }
  .testimonial-subtitle {
    font-size: 1rem;
  }
  .approach-description,
  .testimonial-description {
    font-size: 1rem;
  }
  .experiences-item-title button {
    font-size: 1.25rem;
  }
  .experiences-item-description {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .title-line h1 {
    font-size: 18vw;
  }
  .about-img {
    width: 70vw;
    margin-top: 75px;
  }
  .approach-section,
  .testimonial-section,
  .experiences-section {
    margin: 0 30px;
  }
  .approach-title-div,
  .testimonial-title-div {
    margin-bottom: 30px;
  }
  .approach-title-div .title-line h1,
  .testimonial-title-div .title-line h1,
  .experiences-title-div .title-line h1 {
    font-size: 13vw;
  }
  .approach-col-1,
  .testimonial-col-1 {
    padding-bottom: 50px;
  }
  .approach-col-2,
  .testimonial-col-2 {
    padding-bottom: 50px;
  }
  .approach-transform,
  .testimonial-transform {
    transform: none !important;
  }
  .approach-subtitle {
    font-size: 1.75rem;
  }
  .testimonial-subtitle {
    font-size: 1.25rem;
  }
  .experiences-item-title button {
    font-size: 1.15rem;
    text-align: center;
  }
  .approach-description,
  .testimonial-description,
  .experiences-item-description {
    font-size: 1rem;
  }
  .experiences-item-title button {
    padding-bottom: 50px;
  }
  .experiences-item-title button::after {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 0.75rem);
  }
}
